.footer {
  width: 100%;
  margin-top: 10vh;
  background-color: var(--content);
  color: var(--bg-primary);
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
