.header {
  width: 100%;
  height: 50px;
  background: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  button {
    color: var(--content);
    text-transform: none;
    svg {
      margin-left: 5px;
    }
  }
  a {
    text-decoration: none;
  }
  .cartBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    // .logout {
    //   border: 1px solid var(--content);
    // }
  }
  h1 {
    font-family: "Dancing Script", cursive;
    color: var(--green);
  }
}

@media only screen and (max-width: 700px) {
  .header {
    h1 {
      font-size: 24px;
    }
    .cartBtn {
      gap: 0;
    }
  }
}
