.cart {
  width: 100%;
  min-height: calc(100vh - 60px);
  > p {
    margin: 10px auto;
  }
  > h1 {
    margin: 20px auto;
  }
  .cartComponents {
    .cartCard {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px;
      .productDetails {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
      }
    }
    &:nth-child(odd) {
      background-color: var(--bg-secondary);
    }
  }
}
